{% block title %}UPLOAD GOOGLE SHEET{% endblock %}

{% block container %}
<div class="background">
  <a href="/runbutton1"><button class="button">Run1</button></a>
  <a href="/runbutton2"><button class="button">Run2</button></a>
  <a href="/runbutton3"><button class="button">Run3</button></a>
  <a href="/runbutton4"><button class="button">Run4</button></a>
  <a href="/runbutton5"><button class="button">Run5</button></a>
  <a href="/reloadbutton"><button class="button">Reload</button></a>
</div>
{% endblock %}